---
interface Props {
  url: string;
  name: string;
  isBig?: boolean;
}

const { url, name, isBig=false } = Astro.props;
const id = url.split("/").at(-2);
---

<a 
class:list={[
    'flex flex-col border-gray-200 rounded-lg p-4 m-1 bg-slate-700',
    {
        border: !isBig,
       
    },
]}
href={`/pokemons/${name}`} 
>
  <img
    transition:name={`${name}-image`}
    src=`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`
    alt=""
    class:list={
        {
            'w-[30vw]': isBig,

        }
    }
  />
  <div>
    <span>#{id}</span>
    <span class="capitalize">{name}</span>
  </div>
</a>
